<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <input type="hidden" name="appointment[user1_id]" value="<%= current_user.id %>">
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :appointment_location %>
  </div>

  <div class="field">
    <%= form.label :time_slot %>
    <%= form.datetime_select :time_slot, id: :appointment_time_slot %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
